
.projects{
    background: #353765;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;

}
.box{
    margin-top: 50px;
}
.card{
    margin: 10px 20px;
}
.card-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-title{
    list-style: none;
}